# ignore objects and archives
*.[oa]

# anjuta files
.anjuta
.tm_project2.cache
TODO.tasks
KCemu.anjuta
kcemu-Makefile.mk

# netbeans files
nbproject

KCemu-*.tar.gz
.deps
Makefile.in
Makefile
build-stamp
configure-stamp
configure.lineno
intl/Makefile
asm/autostart/Makefile.in
asm/autostart/Makefile
asm/Makefile.in
asm/Makefile
debian/Makefile.in
debian/Makefile
debian/files
debian/kcemu.debhelper.log
debian/kcemu.postinst.debhelper
debian/kcemu.postrm.debhelper
debian/kcemu.substvars
debian/kcemu/
rpm/KCemu.spec
disks/Makefile.in
disks/Makefile
doc/Makefile.in
doc/Makefile
images/original/Makefile.in
images/original/Makefile
images/Makefile.in
images/Makefile
images/kcemu-winicon_16x16.alpha.pgm
images/kcemu-winicon_16x16.ppm
images/kcemu-winicon_32x32.alpha.pgm
images/kcemu-winicon_32x32.ppm
images/kcemu-winicon_48x48.alpha.pgm
images/kcemu-winicon_48x48.ppm
include/cmd/Makefile.in
include/cmd/Makefile
include/fileio/Makefile.in
include/fileio/Makefile
include/getopt/Makefile.in
include/getopt/Makefile
include/kc/kramermc/Makefile.in
include/kc/kramermc/Makefile
include/kc/muglerpc/Makefile.in
include/kc/muglerpc/Makefile
include/kc/Makefile.in
include/kc/Makefile
include/libaudio/Makefile.in
include/libaudio/Makefile
include/libdbg/Makefile.in
include/libdbg/Makefile
include/libdisk/Makefile.in
include/libdisk/Makefile
include/libtape/Makefile.in
include/libtape/Makefile
include/sys/Makefile.in
include/sys/Makefile
include/ui/generic/Makefile.in
include/ui/generic/Makefile
include/ui/gtk/Makefile.in
include/ui/gtk/Makefile
include/ui/Makefile.in
include/ui/Makefile
include/z80core/Makefile.in
include/z80core/Makefile
include/z80core2/Makefile.in
include/z80core2/Makefile
include/Makefile.in
include/Makefile
man/man1/Makefile.in
man/man1/Makefile
man/Makefile.in
man/Makefile
po/Makefile.in
po/Makefile
roms/a5105/Makefile.in
roms/a5105/Makefile
roms/kc85/Makefile.in
roms/kc85/Makefile
roms/kramermc/Makefile.in
roms/kramermc/Makefile
roms/lc80/Makefile.in
roms/lc80/Makefile
roms/muglerpc/Makefile.in
roms/muglerpc/Makefile
roms/poly880/Makefile.in
roms/poly880/Makefile
roms/z1013/Makefile.in
roms/z1013/Makefile
roms/z9001/Makefile.in
roms/z9001/Makefile
roms/Makefile.in
roms/Makefile
setup/Makefile.in
setup/Makefile
src/cmd/Makefile.in
src/cmd/Makefile
src/fileio/Makefile.in
src/fileio/Makefile
src/getopt/Makefile.in
src/getopt/Makefile
src/kc/kramermc/Makefile.in
src/kc/kramermc/Makefile
src/kc/muglerpc/Makefile.in
src/kc/muglerpc/Makefile
src/kc/Makefile.in
src/kc/Makefile
src/kc/kcemu.rc
src/libaudio/Makefile.in
src/libaudio/Makefile
src/libdbg/Makefile.in
src/libdbg/Makefile
src/libdisk/Makefile.in
src/libdisk/Makefile
src/libtape/Makefile.in
src/libtape/Makefile
src/sys/linux/Makefile.in
src/sys/linux/Makefile
src/sys/mingw/Makefile.in
src/sys/mingw/Makefile
src/sys/Makefile.in
src/sys/Makefile
src/ui/generic/Makefile.in
src/ui/generic/Makefile
src/ui/gtk/Makefile.in
src/ui/gtk/Makefile
src/ui/Makefile.in
src/ui/Makefile
src/util/Makefile.in
src/util/Makefile
src/z80core/Makefile.in
src/z80core/Makefile
src/z80core2/Makefile.in
src/z80core2/Makefile
src/Makefile.in
src/Makefile
tapes/Makefile.in
tapes/Makefile
test/kc/Makefile.in
test/kc/Makefile
test/libaudio/data/Makefile.in
test/libaudio/data/Makefile
test/libaudio/Makefile.in
test/libaudio/Makefile
test/libgtkex/libgtkex-test
test/Makefile.in
test/Makefile
aclocal.m4
autom4te.cache
config.log
config.status
config/config.guess
config/config.sub
config/compile
config/test-driver
config/depcomp
config/install-sh
config/missing
configure
doc/kcemu-help.xml
include/kc/config.h
include/kc/stamp-h1
po/POTFILES
po/de.mo
po/de.gmo
po/en.mo
po/en.gmo
po/remove-potcdate.sed
po/stamp-po
setup/KCemuSetup.nsi
setup/KCemuSetup_gtk2.4.nsi
setup/KCemuSetup_gtk2.6.nsi
setup/KCemuSetup_gtk2.8.nsi
setup/KCemuSetup_gtk2.10.nsi
src/fileio/kc2img
src/fileio/kc2raw
src/fileio/kc2tap
src/fileio/kc2wav
src/fileio/test-load
src/kc/kcemu
src/kc/kcemu-send
src/libdbg/dbg-test
src/libdisk/tdtodump
src/libtape/kcread2tap
src/libtape/kctape
src/libtape/show_tap
src/ui/gtk/kcemu-remote
src/util/basic-decode
src/util/disk-tool
src/util/dump2img
src/util/dump2txt
src/util/make-font
src/util/tape-basicode
src/util/tape-check
src/util/tape-check-bc
src/util/tape-merge
src/util/tape-rename
src/util/tape-split
src/util/tape-test
src/util/tape-tool
src/util/tp-type
