#
#  KCemu -- the KC 85/3 and KC 85/4 Emulator
#  Copyright (C) 1997-1998 Torsten Paul
#
#  $Id: kcemurc.sample,v 1.5 2002/10/31 16:40:01 torsten_paul Exp $
#
#
#  KCemu Konfigurationsdatei ($HOME/.kcemurc)
#

##############################################################################
#
#  Tape File, das beim Starten des Emulators ausgewählt wird.
#
#  Befindet sich die Datei im Datenverzeichnis des Emulators
#  (Wenn nicht anders angegeben ist das /usr/local/share/KCemu)
#  reicht der Dateiname, ansonsten muß ein absoluter Dateiname
#  angegeben werden, also einer, der mit einem / beginnt
#  (z.B. /home/tp/kc/Tape.kct)
#
#  Werte:	<Filename>
#
Tape File: files.kct

##############################################################################
#
#  Liste von Tape Files, die im Tape Fenster direkt auswählbar sind
#  (sozusagen Tape File Bookmarks :)
#
#  Die Zahlen müssen in Hex angegeben werden, sprich nach der 00000009
#  kommt erstmal 0000000A.
#
#  Werte:	<Filename>
#
Tape File List_00000000: /home/tp/projects/KCemu/PRG/files.kct
Tape File List_00000001: /home/tp/projects/KCemu/PRG/test.kct
Tape File List_00000002: /home/tp/projects/KCemu/PRG/wordpro.kct
Tape File List_00000003: /home/tp/projects/KCemu/PRG/kc87.kct
Tape File List_00000004: /home/tp/projects/KCemu/PRG/basic.kct
Tape File List_00000005: /home/tp/projects/KCemu-TMP/z9001/z9001-b.kct
Tape File List_00000006: /home/tp/projects/KCemu-TMP/z9001/z9001-c.kct
Tape File List_00000007: /tmp/x.kct

##############################################################################
#
#  KC-Modell, welches emuliert wird, wenn nichts explizit auf der
#  Kommandozeile angegeben wurde.
#  Es kann sowohl die Nummer als auch der Name angegeben werden,
#  wobei über die Namen auch spezielle Varianten eines KC-Modells
#  zur Emulation gewählt werden können. Über die Nummer wird die
#  Variante gewählt, die mit einem * gekennzeichnet ist (Der Stern
#  gehört dabei natürlich _nicht_ zum Namen der Variante).
#
#  Die aktuelle Liste kann mit dem Aufruf 'kcemu -v' ausgegeben werden.
#
#  Werte:       0 = z1013*, z1013.01, z1013.12, z1013.16, z1013.64,
#		    z1013.a2, z1013.rb, z1013.surl, z1013.bl4
#		1 = z9001, z9001.10, z9001.11, kc85/1*
#               2 = hc900, hc-900, kc85/2*
#               3 = kc85/3*
#               4 = kc85/4*
#               7=  kc87, kc87.10, kc87.11*, kc87.20, kc87.21
#               8 = lc80*
#               9 = bic, k1505, a5105*
#
#  Default ist bei unbekannten Werten kc85/4.
#
Default KC Model: 4

##############################################################################
#
#  Skalierung des Fensters, in dem der Emulator läuft. Erlaubte Werte
#  sind 1, 2 und 3.
#
Display Scale: 1

##############################################################################
#
#  Anzeige mit Screen-Effekten bei vergrößerter Darstellung
#  (Scanline-Effekt bei doppelter Größe und Antialiasing bei
#  dreifacher Größe)
#
#  Werte:	0 = aus
#		1 = an
#
Display Effect: 1

##############################################################################
#
#  Emulation des Bildschirmflimmerns beim Zugriff auf den Bildwiederhol-
#  speicher beim KC 85/2 und KC 85/3.
#
#  Achtung: Das Einschalten dieses Effektes bremst die Emulation erheblich,
#  insbesondere bei vergrößerter Darstellung!
#
#  Werte:	0 = aus
#		1 = an
#
IRM Memory Access: 1

##############################################################################
#
#  Einschalten der Emulation des V24-Moduls über die serielle
#  Schnittstelle (Die Emulation ist nicht vollständig und ziemlich
#  fehlerbehaftet, daher sollte diese Option normalerweise auf
#  "aus" stehen)
#
#  Werte: 	0 = aus
#		1 = an
#
Enable V24-Module: 0

##############################################################################
#
#  Device, das von der Emulation des V24-Moduls benutzt wird
#
#  Werte:	/dev/ttyS0 = 1. serielle Schnittstelle
#		/dev/ttyS1 = 2. serielle Schnittstelle
#		...
#		FIFO	   = benutzt Fifo im /tmp Verzeichnis
#		SOCKET	   = benutzt Socket im /tmp Verzeichnis
#
V24-Device: /dev/ttyS0

##############################################################################
#
#  Geschwindigkeit für die serielle Schnittstelle
#
#  Werte:	9600
#		19200
#
V24-Baudrate: 19200

##############################################################################
#
#  Module, die beim Start des Emulators eingelegt sein sollen
#
#  Die Zahlen müssen in Hex angegeben werden, sprich nach der 00000009
#  kommt erstmal 0000000A.
#
#  Werte:	(kc85/2-4)
#		M003		V24-Modul
#		M011		64k RAM
#		M022		Expander RAM (16k)
#		M012		Texor
#		M026		Forth
#		M027		Development
#		M900		WordPro '86 (KC85/3)
#		M901		WordPro '86 (KC85/4)
#		BASIC		Basic-Modul für KC85/2
#
#		(kc85/1, kc87)
#		RAM4		RAM Modul (16k/4000h) für KC85/1
#		RAM8		RAM Modul (16k/8000h) für KC85/1
#		IRMX		IRM Color Expansion für KC85/1, KC87
#		BASIC		BASIC Modul
#		PLOTTER		Plotter Modul
#		ZM30		ROM Modul mit Zusatzmonitor
#		EDAS		ROM Modul mit Editor/Assembler
#		IDAS		ROM Modul mit Interpretativen Dialogassembler
#		BITEX		ROM Modul mit Textverarbeitung
#		ZSID		ROM Modul mit Zusatzmonitor
#		R80		ROM Modul mit Reassembler
#		XY4131		Plotter-Emulation (noch unvollständig!)
#		CPM-Z9-BOOT	ROM Modul mit CP/M Bootlader
#		CPM-Z9-FLOPPY	Floppy-Modul für Z9001 CP/M
#		CPM-Z9-RAM64	RAM Modul für Z9001 CP/M
#
#		(z1013)
#		RAMFLOPPY	256k RAM Floppy (max. 2 Module gleichzeitig)
#		FDC_SCHNEIDER	Floppy Modul für Z1013 CP/M
#		FDC_KRAMER	<noch nicht implementiert!>
#		GDC		Modul mit Graphic Chip für 80x25 Zeichen
#		RTC20		Uhr-Modul (Ports 20h-2fh)
#		RTC70		Uhr-Modul (Ports 70h-7fh)
#
#		(lc80)
#		RAM2400		RAM Modul 2400h-27ffh
#		RAM2800		RAM Modul 2800h-2fffh
#		RAM3000		RAM Modul 3000h-3fffh
#		RAM4000		RAM Modul 4000h-7fffh
#		RAM8000		RAM Modul 8000h-ffffh
#
Module_00000000: M011
Module_00000001: M011

##############################################################################
#
#  (relativ) exakte Unterstützung des Blinkes
#
#  Wird zur Zeit nur für KC85/4 unterstützt und benötigt relativ viel
#  Rechenleistung, z.B. bei Digger, zeigt aber dafür das Farbscrolling
#  in den Diamanten...
#
#  Werte:	0 = aus
#		1 = an
#
Full Flash Support: 1

##############################################################################
#
#  Finetuning für den Farbscroll-Effekt
#
#  Werte:	Default ist 50
#
Flash Offset: 50

##############################################################################
#
#  Anzahl der zu überspringenden Frames bei der Anzeige (für langsame
#  Rechner)
#
#  Werte:	0 = alle Frames anzeigen
#		1 = jedes 2. Frame anzeigen
#		2 = jedes 3. Frame anzeigen
#		...
#
Frame Skip: 0

##############################################################################
#
#  Aktivierung der Emulation des Floppy Disk Systems
#
#  Werte:	0 = aus
#		1 = an
#
Floppy Disk Basis: 1

##############################################################################
#
#  In den emulierten Diskettenlaufwerken eingelegte Disketten
#  Das Floppy-System unterstützt maximal 4 Diskettenlaufwerke.
#
#  Werte:	<Filename>
#
Floppy Disk 1: /home/tp/projects/KCemu/DISK/microdos.dump
Floppy Disk 2: /home/tp/projects/KCemu/DISK/caos.dump

##############################################################################
#
#  Anzahl der zu emulierenden Bus-Treiber-Aufsätze
#  (es werden maximal 4 Aufsätze emuliert)
#
#  Werte:	0 - 4
#
Busdrivers: 1

##############################################################################
#
#  Soundunterstützung
#  (funktioniert noch nicht - sollte ausgeschaltet sein!)
#
#  Werte:	0 = aus
#		1 = an
#
Enable Sound: 0

##############################################################################
#
#  Farbeinstellung
#  (entspricht den Werten im Konfigurations-Menü * 100)
#
Foreground Saturation:	55
Foreground Brightness:	85
Background Saturation:	50
Background Brightness:	60
Black Value:		10
White Value:		90

##############################################################################
#
#  Laden eines Programmes beim Start des Emulators
#  (Nur zum debuggen - funktioniert nur mit gepatchtem System-ROM,
#  da der normale System-ROM beim Power-On-Reset den Speicher komplett
#  löscht!)
#
Load On Init: /home/tp/projects/KCemu/test/a.out
