Source: kcemu
Section: otherosfs
Priority: optional
Maintainer: Adrian Glaubitz <glaubitz@physik.fu-berlin.de>
Build-Depends: debhelper (>> 7), libz80ex-dev, libsdl-dev, libsndfile-dev, libvncserver-dev, libtheora-dev, libgtk2.0-dev, automake, autoconf, libxmu-dev, libncurses5-dev, netpbm, quilt
Standards-Version: 3.8.4

Package: kcemu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KC 85/4 Emulator
 KCemu is an emulator for the KC85 homecomputer series and other
 Z80 based microcomputers like Z1013, LC80, Polycomputer 880 and
 BIC A5105. The emulation supports a number of additional hardware,
 e.g. floppy disk drives and extended graphic modules.
 .
 Information about KCemu can be found at the official Homepage
 at http://kcemu.sourceforge.net/
 .
 For original programs and general information about the
 emulated computer systems have a look at http://www.kc-club.de/
 and http://www.kc85emu.de/
