Source: kcemu
Section: otherosfs
Priority: optional
Maintainer: Torsten Paul <Torsten.Paul@gmx.de>
Build-Depends: debhelper (>> 5)
Standards-Version: 3.7.2

Package: kcemu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KC 85/4 Emulator
 KCemu is an emulator for the Z80 based KC 85 home computer
 series which was quite popular in the former East-Germany.
 It runs most original programs (e.g. Digger, Boulder Dash,
 Bennion RBS, ...) and supports the emulation of the CP/M-like
 operating system called MicroDOS.
 .
 For original programs and general information about the
 emulated computer types have a look at http://www.kc85emu.de/
 and http://www.kc85.de/
