<?xml version="1.0"?>
<interface>
  <requires lib="gtk+" version="2.16"/>
  <!-- interface-naming-policy toplevel-contextual -->
  <object class="GtkWindow" id="module_window">
    <property name="title" translatable="yes">KCemu: Module</property>
    <property name="window_position">mouse</property>
    <child>
      <object class="GtkVBox" id="vbox">
        <property name="visible">True</property>
        <property name="orientation">vertical</property>
        <child>
          <object class="GtkFrame" id="header_frame">
            <property name="visible">True</property>
            <property name="label_xalign">0</property>
            <property name="shadow_type">etched-out</property>
            <child>
              <object class="GtkHBox" id="header_hbox">
                <property name="visible">True</property>
                <child>
                  <object class="GtkLabel" id="header_label">
                    <property name="visible">True</property>
                    <property name="xalign">0</property>
                    <property name="label" translatable="yes">Module</property>
                  </object>
                  <packing>
                    <property name="padding">6</property>
                    <property name="position">0</property>
                  </packing>
                </child>
                <child>
                  <object class="GtkImage" id="header_image">
                    <property name="visible">True</property>
                    <property name="xpad">4</property>
                    <property name="ypad">4</property>
                    <property name="pixbuf">window-module.png</property>
                  </object>
                  <packing>
                    <property name="expand">False</property>
                    <property name="position">1</property>
                  </packing>
                </child>
              </object>
            </child>
          </object>
          <packing>
            <property name="expand">False</property>
            <property name="position">0</property>
          </packing>
        </child>
        <child>
          <object class="GtkVBox" id="main_vbox">
            <property name="visible">True</property>
            <property name="border_width">2</property>
            <property name="orientation">vertical</property>
            <property name="spacing">6</property>
            <child>
              <placeholder/>
            </child>
          </object>
          <packing>
            <property name="position">1</property>
          </packing>
        </child>
        <child>
          <object class="GtkHSeparator" id="hseparator1">
            <property name="visible">True</property>
          </object>
          <packing>
            <property name="expand">False</property>
            <property name="padding">4</property>
            <property name="position">2</property>
          </packing>
        </child>
        <child>
          <object class="GtkHButtonBox" id="dialog_hbuttonbox">
            <property name="visible">True</property>
            <property name="spacing">4</property>
            <property name="layout_style">end</property>
            <child>
              <object class="GtkButton" id="dialog_button_help">
                <property name="label">gtk-help</property>
                <property name="visible">True</property>
                <property name="can_focus">True</property>
                <property name="can_default">True</property>
                <property name="receives_default">False</property>
                <property name="use_stock">True</property>
              </object>
              <packing>
                <property name="expand">False</property>
                <property name="fill">False</property>
                <property name="position">0</property>
              </packing>
            </child>
            <child>
              <object class="GtkButton" id="dialog_button_close">
                <property name="label">gtk-close</property>
                <property name="visible">True</property>
                <property name="can_focus">True</property>
                <property name="can_default">True</property>
                <property name="receives_default">False</property>
                <property name="use_stock">True</property>
              </object>
              <packing>
                <property name="expand">False</property>
                <property name="fill">False</property>
                <property name="position">1</property>
              </packing>
            </child>
          </object>
          <packing>
            <property name="expand">False</property>
            <property name="position">3</property>
          </packing>
        </child>
      </object>
    </child>
  </object>
</interface>
